<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ycs.community.activiti.dao.ActivitiVacationTaskDao">
    <select id="qryMyVacationTaskCount" parameterType="java.util.Map" resultType="java.lang.Integer">
        SELECT COUNT(t.id)
        FROM t_vacation_process t
        LEFT JOIN t_sys_userinfo t2 ON t.applier_id = t2.id
        LEFT JOIN t_flow_main t3 ON t.id = t3.process_id
        <where>
            <if test="applierId != null">
                t.applier_id = #{applierId}
            </if>
            <if test="title != null">
                AND t.title like <![CDATA['%${title}%']]>
            </if>
            <if test="startTime != null">
                AND t.create_time &gt;= #{startTime}
            </if>
            <if test="endTime != null">
                AND t.create_time &lt;= #{endTime}
            </if>
        </where>
    </select>

    <select id="qryMyVacationTaskPage" parameterType="java.util.Map" resultType="com.ycs.community.activiti.domain.po.VacationTaskPo">
        SELECT
        t.id id,
        t.flow_def_id flowDefId,
        t.applier_id applierId,
        t.assignee_id assigneeId,
        t.type type,
        t.title title,
        t.context context,
        t.start_time startTime,
        t.end_time endTime,
        t.state state,
        t.create_time creTm,
        t.update_time updTm,
        t2.name applierName,
        t3.flow_id flowId
        FROM t_vacation_process t
        LEFT JOIN t_sys_userinfo t2 ON t.applier_id = t2.id
        LEFT JOIN t_flow_main t3 ON t.id = t3.process_id
        <where>
            <if test="applierId != null">
                t.applier_id = #{applierId}
            </if>
            <if test="title != null">
                AND t.title like <![CDATA['%${title}%']]>
            </if>
            <if test="startTime != null">
                AND t.create_time &gt;= #{startTime}
            </if>
            <if test="endTime != null">
                AND t.create_time &lt;= #{endTime}
            </if>
        </where>
        ORDER BY t.create_time DESC
        LIMIT ${startRow}, ${offset}
    </select>

    <select id="qryAllVacationTaskCount" parameterType="java.util.Map" resultType="java.lang.Integer">
        SELECT COUNT(t.id)
        FROM t_vacation_process t
        LEFT JOIN t_sys_userinfo t2 ON t.applier_id = t2.id
        LEFT JOIN t_flow_main t3 ON t.id = t3.process_id
        <where>
            <if test="title != null">
                AND t.title like <![CDATA['%${title}%']]>
            </if>
            <if test="startTime != null">
                AND t.create_time &gt;= #{startTime}
            </if>
            <if test="endTime != null">
                AND t.create_time &lt;= #{endTime}
            </if>
        </where>
    </select>

    <select id="qryAllVacationTaskPage" parameterType="java.util.Map" resultType="com.ycs.community.activiti.domain.po.VacationTaskPo">
        SELECT
        t.id id,
        t.flow_def_id flowDefId,
        t.applier_id applierId,
        t.assignee_id assigneeId,
        t.type type,
        t.title title,
        t.context context,
        t.start_time startTime,
        t.end_time endTime,
        t.state state,
        t.create_time creTm,
        t.update_time updTm,
        t2.name applierName,
        t3.flow_id flowId
        FROM t_vacation_process t
        LEFT JOIN t_sys_userinfo t2 ON t.applier_id = t2.id
        LEFT JOIN t_flow_main t3 ON t.id = t3.process_id
        <where>
            <if test="title != null">
                AND t.title like <![CDATA['%${title}%']]>
            </if>
            <if test="startTime != null">
                AND t.create_time &gt;= #{startTime}
            </if>
            <if test="endTime != null">
                AND t.create_time &lt;= #{endTime}
            </if>
        </where>
        ORDER BY t.create_time DESC
        LIMIT ${startRow}, ${offset}
    </select>

    <update id="updVacationTaskAssigneeById" parameterType="java.util.Map">
        UPDATE t_vacation_process
        <set>
            <if test="assigneeId != null">
                assignee_id = #{assigneeId}
            </if>
        </set>
        <where>
            <if test="id != null">
                id = #{id}
            </if>
        </where>
    </update>

    <update id="updVacationTaskStateById" parameterType="java.util.Map">
        UPDATE t_vacation_process
        <set>
            <if test="state != null">
                state = #{state}
            </if>
        </set>
        <where>
            <if test="id != null">
                id = #{id}
            </if>
        </where>
    </update>

    <update id="updVacationTask" parameterType="com.ycs.community.activiti.domain.po.VacationTaskPo">
        UPDATE t_vacation_process
        <set>
            <if test="flowDefId != null">
                flow_def_id = #{flowDefId},
            </if>
            <if test="assigneeId != null">
                assignee_id = #{assigneeId},
            </if>
            <if test="type != null">
                type = #{type},
            </if>
            <if test="title != null">
                title = #{title},
            </if>
            <if test="context != null">
                context = #{context},
            </if>
            <if test="state != null">
                state = #{state},
            </if>
            <if test="startTime != null">
                start_time = #{startTime},
            </if>
            <if test="endTime != null">
                end_time = #{endTime},
            </if>
            <if test="updTm != null">
                update_time = #{updTm}
            </if>
        </set>
        <where>
            <if test="id != null">
                id = #{id}
            </if>
        </where>
    </update>

    <insert id="addVacationTask" parameterType="com.ycs.community.activiti.domain.po.VacationTaskPo" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO t_vacation_process (flow_def_id,
            applier_id,
            assignee_id,
            `type`,
            title,
            context,
            `state`,
            start_time,
            end_time,
            create_time
        )
        values (
            #{flowDefId,jdbcType=BIGINT},
            #{applierId,jdbcType=BIGINT},
            #{assigneeId,jdbcType=BIGINT},
            #{type,jdbcType=INTEGER},
            #{title,jdbcType=VARCHAR},
            #{context,jdbcType=VARCHAR},
            #{state,jdbcType=INTEGER},
            #{startTime,jdbcType=BIGINT},
            #{endTime,jdbcType=BIGINT},
            #{creTm,jdbcType=BIGINT}
       )
    </insert>
</mapper>