<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ycs.community.activiti.dao.ActivitiTaskDao">
    <select id="qryMyTaskCount" parameterType="java.util.Map" resultType="java.lang.Integer">
        SELECT COUNT(t3.ID_)
        FROM t_vacation_process t,
        t_flow_main t2,
        act_ru_task t3
        <where>
            t.id = t2.process_id
            AND t2.flow_id = t3.PROC_INST_ID_
            <if test="userId != null">
                AND t3.ASSIGNEE_ = #{userId}
            </if>
            <if test="state != null">
                AND t.state = #{state}
            </if>
            <if test="title != null">
                AND t.title like <![CDATA['%${title}%']]>
            </if>
            <if test="startTime != null">
                AND t3.CREATE_TIME_ &gt;= #{startTime}
            </if>
            <if test="endTime != null">
                AND t3.CREATE_TIME_ &lt;= #{endTime}
            </if>
        </where>
    </select>

    <select id="qryMyTaskPage" parameterType="java.util.Map" resultType="com.ycs.community.activiti.domain.po.VacationTaskPo">
        SELECT
        t.id id,
        t.flow_def_id flowDefId,
        t.applier_id applierId,
        t.assignee_id assigneeId,
        t.start_time startTime,
        t.end_time endTime,
        t.title title,
        t.context context,
        t.create_time creTm,
        t3.ID_ taskId,
        t3.NAME_ taskName,
        t3.PROC_INST_ID_ flowId,
        t3.TASK_DEF_KEY_ taskDefKey,
        t3.ASSIGNEE_ assign
        FROM t_vacation_process t,
        t_flow_main t2,
        act_ru_task t3
        <where>
            t.id = t2.process_id
            AND t2.flow_id = t3.PROC_INST_ID_
            <if test="userId != null">
                AND t3.ASSIGNEE_ = #{userId}
            </if>
            <if test="state != null">
                AND t.state = #{state}
            </if>
            <if test="title != null">
                AND t.title like <![CDATA['%${title}%']]>
            </if>
            <if test="startTime != null">
                AND t3.CREATE_TIME_ &gt;= #{startTime}
            </if>
            <if test="endTime != null">
                AND t3.CREATE_TIME_ &lt;= #{endTime}
            </if>
        </where>
        ORDER BY t3.CREATE_TIME_ DESC
        LIMIT ${startRow}, ${offset}
    </select>
</mapper>