<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ycs.community.activiti.dao.ActivitiFlowDao">
    <select id="qryFlowList" parameterType="java.util.Map" resultType="com.ycs.community.activiti.domain.po.FlowDef">
        SELECT
        t.id id,
        t.key `key`,
        t.name name,
        t.state state,
        t.create_time creTm,
        t.update_time updTm
        FROM t_flow_def t
        <where>
            <if test="name != null">
                t.name like <![CDATA['%${name}%']]>
            </if>
        </where>
    </select>

    <select id="qryFlowDefByDeploymentId" parameterType="java.lang.String" resultType="com.ycs.community.activiti.domain.po.FlowDef">
        SELECT
        t.id id,
        t.key `key`,
        t.name name,
        t.state state,
        t.create_time creTm
        FROM t_flow_def t
        LEFT JOIN act_re_procdef t2 ON t.key = t2.KEY_
        <where>
            <if test="_parameter != null">
                t2.DEPLOYMENT_ID_ = #{deploymentId}
            </if>
        </where>
    </select>

    <select id="qryFlowDefById" parameterType="java.lang.Long" resultType="com.ycs.community.activiti.domain.po.FlowDef">
        SELECT
        t.id id,
        t.key `key`,
        t.name name,
        t.state state,
        t.create_time creTm
        FROM t_flow_def t
        <where>
            <if test="_parameter != null">
                t.id = #{id}
            </if>
        </where>
    </select>

    <delete id="delFlowDefByKey" parameterType="java.lang.String">
        DELETE FROM t_flow_def
        <where>
            <if test="_parameter != null">
                `key` = #{key}
            </if>
        </where>
    </delete>

    <update id="updFlowDef" parameterType="com.ycs.community.activiti.domain.po.FlowDef">
        UPDATE t_flow_def
        <set>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="updTm != null">
                update_time = #{updTm}
            </if>
        </set>
        <where>
            <if test="key != null">
                `key` = #{key}
            </if>
        </where>
    </update>

    <insert id="addFlowDef" parameterType="com.ycs.community.activiti.domain.po.FlowDef">
        INSERT INTO t_flow_def (`key`,
        `name`,
        `state`,
        create_time
        )
        values (
        #{key,jdbcType=VARCHAR},
        #{name,jdbcType=VARCHAR},
        #{state,jdbcType=INTEGER},
        #{creTm,jdbcType=BIGINT}
       )
    </insert>

    <select id="qryFlowDefByCode" parameterType="java.lang.String" resultType="com.ycs.community.activiti.domain.po.FlowDef">
        SELECT
        t.id id,
        t.key `key`,
        t.name name,
        t.state state,
        t.create_time creTm
        FROM t_flow_def t
        <where>
            <if test="_parameter != null">
                t.key = #{key}
            </if>
        </where>
    </select>

    <select id="qryFlowMainById" parameterType="java.lang.String" resultType="com.ycs.community.activiti.domain.po.FlowMain">
        SELECT
        t.id id,
        t.flow_id flowId,
        t.process_id processId,
        t.state state,
        t.create_time creTm,
        t.update_time updTm
        FROM t_flow_main t
        <where>
            <if test="_parameter != null">
                t.id = #{id}
            </if>
        </where>
    </select>

    <select id="qryFlowMainByTaskId" parameterType="java.lang.String" resultType="com.ycs.community.activiti.domain.po.FlowMain">
        SELECT
        t.id id,
        t.flow_id flowId,
        t.process_id processId,
        t.state state,
        t.create_time creTm,
        t.update_time updTm
        FROM t_flow_main t
        <where>
            <if test="_parameter != null">
                t.process_id = #{processId}
            </if>
        </where>
    </select>

    <update id="updFlowMain" parameterType="com.ycs.community.activiti.domain.po.FlowMain">
        UPDATE t_flow_main
        <set>
            <if test="flowId != null">
                flow_id = #{flowId},
            </if>
            <if test="updTm != null">
                update_time = #{updTm}
            </if>
        </set>
        <where>
            <if test="id != null">
                id = #{id}
            </if>
        </where>
    </update>

    <insert id="addFlowMain" parameterType="com.ycs.community.activiti.domain.po.FlowMain" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO t_flow_main (flow_id,
        process_id,
        `state`,
        create_time
        )
        values (
        #{flowId,jdbcType=BIGINT},
        #{processId,jdbcType=BIGINT},
        #{state,jdbcType=INTEGER},
        #{creTm,jdbcType=BIGINT}
       )
    </insert>
</mapper>