<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ycs.community.sysbo.dao.DeptDao">
    <select id="qryDeptTree" parameterType="java.util.Map" resultType="com.ycs.community.sysbo.domain.po.DeptPo">
        SELECT
        t.id id,
        t.name name,
        t.pid pid,
        t.enabled enabled,
        t.create_time creTm
        FROM t_sys_dept t
        <where>
            <if test="name != null">
                t.name like <![CDATA['%${name}%']]>
            </if>
            <if test="startTime != null">
                AND t.create_time &gt;= #{startTime}
            </if>
            <if test="endTime != null">
                AND t.create_time &lt;= #{endTime}
            </if>
            <if test="enabled != null">
                AND t.enabled = #{enabled}
            </if>
        </where>
    </select>

    <update id="updDept" parameterType="com.ycs.community.sysbo.domain.po.DeptPo">
        UPDATE t_sys_dept
        <set>
            <if test="enabled != null">
                enabled = #{enabled},
            </if>
            <if test="name != null">
                `name` = #{name},
            </if>
            <if test="pid != null">
                pid = #{pid},
            </if>
            <if test="updTm != null">
                update_time = #{updTm}
            </if>
        </set>
        <where>
            <if test="id != null">
                id = #{id}
            </if>
        </where>
    </update>

    <select id="qryDeptsByRoleId" parameterType="java.lang.String" resultType="com.ycs.community.sysbo.domain.po.DeptPo">
        SELECT
        t.id id,
        t.name name,
        t.pid pid,
        t.enabled enabled,
        t.create_time creTm
        FROM t_sys_dept t
        INNER JOIN t_sys_role_dept t1 ON t1.dept_id = t.id
        <where>
            <if test="_parameter != null">
                t1.role_id = #{roleId}
            </if>
        </where>
    </select>

    <delete id="delDeptsByRoleId" parameterType="java.lang.String">
        DELETE FROM t_sys_role_dept
        <where>
            <if test="_parameter != null">
                role_id = #{roleId}
            </if>
        </where>
    </delete>

    <select id="qryDeptsByPid" parameterType="java.lang.String" resultType="com.ycs.community.sysbo.domain.po.DeptPo">
        SELECT
        t.id id,
        t.name name,
        t.pid pid,
        t.enabled enabled,
        t.create_time creTm
        FROM t_sys_dept t
        <where>
            <if test="_parameter != null">
                t.pid = #{pid}
            </if>
        </where>
    </select>

    <insert id="addDept" parameterType="com.ycs.community.sysbo.domain.po.DeptPo">
        INSERT INTO t_sys_dept(`name`,
			pid,
			enabled,
			create_time
		)
		VALUES (
	  		#{name,jdbcType=VARCHAR},
	  		#{pid,jdbcType=BIGINT},
	  		#{enabled,jdbcType=BIT},
	  		#{creTm,jdbcType=BIGINT}
		)
    </insert>

    <delete id="delDept" parameterType="java.lang.String">
        DELETE FROM t_sys_dept
        <where>
            <if test="_parameter != null">
                id = #{id}
            </if>
        </where>
    </delete>

    <select id="qryDeptById" parameterType="java.lang.String" resultType="com.ycs.community.sysbo.domain.po.DeptPo">
        SELECT
        t.id id,
        t.name name,
        t.pid pid,
        t.enabled enabled,
        t.create_time creTm
        FROM t_sys_dept t
        <where>
            <if test="_parameter != null">
                t.id = #{id}
            </if>
        </where>
    </select>
</mapper>