<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ycs.community.cmmbo.dao.IndexDao">
    <select id="qryTopicList" resultType="com.ycs.community.cmmbo.domain.po.TopicPo">
        SELECT
            id id,
            `name` `name`,
            icon icon,
            `order` `order`
        FROM t_cmm_topic
    </select>
</mapper>