<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ycs.community.cmmbo.dao.QuestionDao">
    <insert id="askQuestion" parameterType="com.ycs.community.cmmbo.domain.po.QuestionPo">
        INSERT INTO t_cmm_question (title,
            description,
            tag,
            creator,
            like_count,
            comment_count,
            view_count,
            create_time
        )
        values (
            #{title,jdbcType=VARCHAR},
            #{description,jdbcType=VARCHAR},
            #{tag,jdbcType=VARCHAR},
            #{creator,jdbcType=INTEGER},
            #{likeCount,jdbcType=INTEGER},
            #{commentCount,jdbcType=INTEGER},
            #{viewCount,jdbcType=INTEGER},
            #{creTm,jdbcType=BIGINT}
        )
    </insert>

    <delete id="delQuestion" parameterType="java.lang.String">
        DELETE FROM t_cmm_question
        <where>
            <if test="_parameter != null">
                id = #{id}
            </if>
        </where>
    </delete>

    <update id="updQuestion" parameterType="com.ycs.community.cmmbo.domain.po.QuestionPo">
        UPDATE t_cmm_question
        <set>
            <if test="title != null">
                title = #{title},
            </if>
            <if test="description != null">
                description = #{description},
            </if>
            <if test="tag != null">
                tag = #{tag},
            </if>
            <if test="likeCount != null">
                like_count = #{likeCount},
            </if>
            <if test="commentCount != null">
                comment_count = #{commentCount},
            </if>
            <if test="viewCount != null">
                view_count = #{viewCount},
            </if>
            <if test="updTm != null">
                update_time = #{updTm}
            </if>
        </set>
        <where>
            <if test="id != null">
                id = #{id}
            </if>
        </where>
    </update>

    <select id="qryQuestion" parameterType="java.lang.String" resultType="com.ycs.community.cmmbo.domain.po.QuestionPo">
        SELECT
            t.id id,
            t.title title,
            t.description description,
            t.tag tag,
            t.creator creator,
            t.like_count likeCount,
            t.comment_count commentCount,
            t.view_count viewCount,
            t.create_time creTm,
            t.update_time updTm,
            t1.name userName,
            t1.avatar avatar
        FROM t_cmm_question t
        LEFT JOIN t_sys_userinfo t1 on t1.account_id = t.creator
        <where>
            <if test=" _parameter != null">
                t.id = #{id}
            </if>
        </where>
    </select>

    <update id="increaseView" parameterType="java.util.Map">
        UPDATE t_cmm_question
        <set>
            <if test="viewCount != null">
                view_count = view_count + #{viewCount},
            </if>
        </set>
        <where>
            <if test="id != null">
                id = #{id}
            </if>
        </where>
    </update>

    <select id="qryQuestionCount" parameterType="java.util.Map" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM t_cmm_question t
        LEFT JOIN t_sys_userinfo t1 on t1.account_id = t.creator
        <where>
            <if test="title != null">
                t.title like <![CDATA['%${title}%']]>
            </if>
        </where>
    </select>

    <select id="qryQuestionPage" parameterType="java.util.Map" resultType="com.ycs.community.cmmbo.domain.po.QuestionPo">
        SELECT
            t.id id,
            t.title title,
            t.description description,
            t.tag tag,
            t.creator creator,
            t.like_count likeCount,
            t.comment_count commentCount,
            t.view_count viewCount,
            t.create_time creTm,
            t.update_time updTm,
            t1.name userName,
            t1.avatar avatar
        FROM t_cmm_question t
        LEFT JOIN t_sys_userinfo t1 on t1.account_id = t.creator
        <where>
            <if test="title != null">
                t.title like <![CDATA['%${title}%']]>
            </if>
        </where>
        ORDER BY t.create_time DESC
        LIMIT ${startRow}, ${offset}
    </select>
</mapper>