<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ycs.community.sysbo.dao.RoleDao">
    <select id="qryRolesByUserId" parameterType="java.lang.String" resultType="com.ycs.community.sysbo.domain.po.RolePo">
        SELECT
            t1.id id,
            t1.`code` `code`,
            t1.`name` `name`,
            t1.data_scope dataScope,
            t1.level level,
            t1.`desc` `desc`
        FROM t_sys_user_role t
        INNER JOIN t_sys_role t1 on t1.id = t.role_id
        <where>
            <if test="_parameter != null">
                t.user_id = #{userId}
            </if>
        </where>
    </select>

    <select id="qryRoleById" parameterType="java.lang.String" resultType="com.ycs.community.sysbo.domain.po.RolePo">
        SELECT
        t.id id,
        t.`code` `code`,
        t.`name` `name`,
        t.data_scope dataScope,
        t.level level,
        t.`desc` `desc`
        FROM t_sys_role t
        <where>
            <if test="_parameter != null">
                t.id = #{id}
            </if>
        </where>
    </select>

    <select id="qryRoleCount" parameterType="java.util.Map" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM t_sys_role t
        <where>
            <if test="ids != null">
                t.id IN
                <foreach collection="ids" item="id" index="index" open="(" close=")" separator=",">
                    #{id}
                </foreach>
            </if>
            <if test="name != null">
                AND t.name like <![CDATA['%${name}%']]>
            </if>
            <if test="startTime != null">
                AND t.create_time &gt;= #{startTime}
            </if>
            <if test="endTime != null">
                AND t.create_time &lt;= #{endTime}
            </if>
        </where>
    </select>

    <select id="qryRolePage" parameterType="java.util.Map" resultType="com.ycs.community.sysbo.domain.po.RolePo">
        SELECT
        t.id id,
        t.code code,
        t.name name,
        t.data_scope dataScope,
        t.level level,
        t.`desc` `desc`,
        t.create_time creTm
        FROM t_sys_role t
        <where>
            <if test="ids != null">
                t.id IN
                <foreach collection="ids" item="id" index="index" open="(" close=")" separator=",">
                    #{id}
                </foreach>
            </if>
            <if test="name != null">
                AND t.name like <![CDATA['%${name}%']]>
            </if>
            <if test="startTime != null">
                AND t.create_time &gt;= #{startTime}
            </if>
            <if test="endTime != null">
                AND t.create_time &lt;= #{endTime}
            </if>
        </where>
        ORDER BY t.level ASC
        LIMIT ${startRow}, ${offset}
    </select>

    <insert id="addRole" parameterType="com.ycs.community.sysbo.domain.po.RolePo" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO t_sys_role(code,
			`name`,
			data_scope,
            `level`,
			`desc`,
			create_time
		)
		VALUES (
			#{code,jdbcType=VARCHAR},
	  		#{name,jdbcType=VARCHAR},
	  		#{dataScope,jdbcType=VARCHAR},
	  		#{level,jdbcType=VARCHAR},
	  		#{desc,jdbcType=VARCHAR},
	  		#{creTm,jdbcType=BIGINT}
		)
    </insert>

    <delete id="delRole" parameterType="java.lang.String">
        DELETE FROM t_sys_role
        <where>
            <if test="_parameter != null">
                id = #{id}
            </if>
        </where>
    </delete>

    <update id="updRole" parameterType="com.ycs.community.sysbo.domain.po.RolePo">
        UPDATE t_sys_role
        <set>
            <if test="code != null">
                code = #{code},
            </if>
            <if test="name != null">
                `name` = #{name},
            </if>
            <if test="dataScope != null">
                data_scope = #{dataScope},
            </if>
            <if test="level != null">
                `level` = #{level},
            </if>
            <if test="desc != null">
                `desc` = #{desc},
            </if>
            <if test="updTm != null">
                update_time = #{updTm}
            </if>
        </set>
        <where>
            <if test="id != null">
                id = #{id}
            </if>
        </where>
    </update>

    <insert id="addRoleDepts" parameterType="java.util.Map">
        INSERT INTO t_sys_role_dept (
        role_id, dept_id
        )
        VALUES
        <foreach collection="depts" item="deptId" index="index" separator=",">
            (#{roleId, jdbcType=BIGINT}, #{deptId, jdbcType=BIGINT})
        </foreach>
    </insert>

    <delete id="delRoleDepts" parameterType="java.util.Map">
        DELETE FROM t_sys_role_dept
        <where>
            <if	test="depts != null">
                dept_id IN
                <foreach collection="depts" item="deptId" index="index" open="(" close=")" separator=",">
                    #{deptId}
                </foreach>
            </if>
            <if test="roleId != null">
                AND role_id = #{roleId}
            </if>
        </where>
    </delete>

    <insert id="addRoleMenus" parameterType="java.util.Map">
        INSERT INTO t_sys_role_menu (
            role_id, menu_id
        )
        VALUES
        <foreach collection="menus" item="menuId" index="index" separator=",">
            (#{roleId, jdbcType=BIGINT}, #{menuId, jdbcType=BIGINT})
        </foreach>
    </insert>

    <delete id="delRoleMenus" parameterType="java.util.Map">
        DELETE FROM t_sys_role_menu
        <where>
            <if	test="menus != null">
                menu_id IN
                <foreach collection="menus" item="menuId" index="index" open="(" close=")" separator=",">
                    #{menuId}
                </foreach>
            </if>
            <if test="roleId != null">
                AND role_id = #{roleId}
            </if>
        </where>
    </delete>

    <select id="qryRolesByDeptId" parameterType="java.lang.String" resultType="com.ycs.community.sysbo.domain.po.RolePo">
        SELECT
        t.id id,
        t.`code` `code`,
        t.`name` `name`,
        t.data_scope dataScope,
        t.level level,
        t.`desc` `desc`
        FROM t_sys_role t
        INNER JOIN t_sys_role_dept t1 ON t1.role_id = t.id
        <where>
            <if test="_parameter != null">
                t1.dept_id = #{deptId} OR t1.dept_id IN (
                    SELECT t2.pid FROM t_sys_dept t2
                    WHERE t2.id = #{deptId}
                )
            </if>
        </where>
    </select>

    <select id="qryAllRole" parameterType="java.util.Map" resultType="com.ycs.community.sysbo.domain.po.RolePo">
        SELECT
        t.id id,
        t.code code,
        t.name name,
        t.data_scope dataScope,
        t.level level,
        t.`desc` `desc`,
        t.create_time creTm
        FROM t_sys_role t
        <where>
            1=1
        </where>
    </select>

    <delete id="delRolesByUserId" parameterType="java.lang.String">
        DELETE FROM t_sys_user_role
        <where>
            <if test="_parameter != null">
                user_id = #{userId}
            </if>
        </where>
    </delete>

    <delete id="delRoleMenuByMenuId" parameterType="java.lang.String">
        DELETE FROM t_sys_role_menu
        <where>
            <if test="_parameter != null">
                menu_id = #{menuId}
            </if>
        </where>
    </delete>
</mapper>