<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ycs.community.cmmbo.dao.TagDao">
    <select id="qryTagTree" parameterType="java.util.Map" resultType="com.ycs.community.cmmbo.domain.po.TagPo">
        SELECT
        id id,
        `name` `name`,
        pid pid,
        description description,
        icon icon,
        star star,
        `order` `order`,
        create_time creTm
        FROM t_cmm_tag t
        <where>
            <if test="name != null">
                AND t.name like <![CDATA['%${name}%']]>
            </if>
            <if test="startTime != null">
                AND t.create_time &gt;= #{startTime}
            </if>
            <if test="endTime != null">
                AND t.create_time &lt;= #{endTime}
            </if>
        </where>
        ORDER BY `order` ASC
    </select>

    <select id="qryTagListByPid" parameterType="java.lang.String" resultType="com.ycs.community.cmmbo.domain.po.TagPo">
        SELECT
            id id,
            `name` `name`,
            description description,
            icon icon,
            star star,
            `order` `order`
        FROM t_cmm_tag
        <where>
            <if test="_parameter != null">
                pid = #{pid}
            </if>
        </where>
        ORDER BY `order` ASC
    </select>

    <select id="qryMostStarTagList" resultType="com.ycs.community.cmmbo.domain.po.TagPo">
        SELECT
        id id,
        `name` `name`,
        description description,
        icon icon,
        star star,
        `order` `order`
        FROM t_cmm_tag
        <where>
            1=1
        </where>
        ORDER BY star DESC
        LIMIT 0, 5
    </select>

    <select id="qryTagListByIds" parameterType="java.util.List" resultType="com.ycs.community.cmmbo.domain.po.TagPo">
        SELECT
        id id,
        `name` `name`,
        description description,
        icon icon,
        star star,
        `order` `order`
        FROM t_cmm_tag
        <where>
            <if test="list != null">
                id IN
                <foreach collection="list" item="id" index="index" open="(" separator="," close=")">
                    #{id}
                </foreach>
            </if>
        </where>
        ORDER BY star DESC
    </select>

    <insert id="addTag" parameterType="com.ycs.community.cmmbo.domain.po.TagPo">
        INSERT INTO t_cmm_tag(pid,
        `name`,
        icon,
        `order`,
        description,
        create_time
		)
		VALUES (
		    #{pid,jdbcType=BIGINT},
	  		#{name,jdbcType=VARCHAR},
			#{icon,jdbcType=VARCHAR},
	  		#{order,jdbcType=INTEGER},
	  		#{description,jdbcType=VARCHAR},
	  		#{creTm,jdbcType=BIGINT}
		)
    </insert>

    <delete id="delTag" parameterType="java.lang.String">
        DELETE FROM t_cmm_tag
        <where>
            <if test="_parameter != null">
                id = #{id}
            </if>
        </where>
    </delete>

    <update id="updTag" parameterType="com.ycs.community.cmmbo.domain.po.TagPo">
        UPDATE t_cmm_tag
        <set>
            <if test="pid != null">
                pid = #{pid},
            </if>
            <if test="name != null">
                `name` = #{name},
            </if>
            <if test="icon != null">
                icon = #{icon},
            </if>
            <if test="order != null">
                `order` = #{order},
            </if>
            <if test="description != null">
                description = #{description},
            </if>
            <if test="updTm != null">
                update_time = #{updTm}
            </if>
        </set>
        <where>
            <if test="id != null">
                id = #{id}
            </if>
        </where>
    </update>
</mapper>